/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.screen__wrapper {
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
	padding: 0 1.5rem;
	background: #FCCD3F;
	height: 80px;
}

.logo__img {
	height: 100%;
}

.order__id {
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.content {
	flex: 1;
	background-color: #000;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 0 1.5rem;
	background-color: #F27405;
	height: 72px;
}

.home__icon {
	max-width: 50px;
}

.items__selected {
	font-size: 1.25rem;
	color: #DB6C10; 
	background: #FCCD3F;
	border-radius: 14px;
	border: 3px solid white;
	overflow: hidden;
}

.selected__text {
	padding: 0 0.875rem;
}

.selected__count {
	height: 100%;
	line-height: 46px;
	background: #fff;
	padding: 0 1.125rem;
}