/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.screen__wrapper {
	flex-direction: column;
	height: 100vh;
	width: 100%;
}


/* Buttons */
.btn__main {
  display: flex;
	align-items: center;
	height: 46px;
	font-size: 1.125rem;
	color: #DD2A24;
	padding: 0 0.875rem;
	background: #FCCD3F;
  border-radius: 14px;
	border: 3px solid white;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn__icon {
	font-size: 1rem;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3 {
	color: #DD2A24;
	letter-spacing: .5px;
	margin: 0;
}

.title--one {
	font-size: 2.125rem;
}

.title--two {
	font-size: 1.125rem;
}

/*--------------------------------------------------------------
# Sections & Layout 
--------------------------------------------------------------*/
.content {
	flex: 1;
}

.section__header {
	text-align: center;
}

.section__title {
	margin-bottom: 1.75rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
	background: #FCCD3F;
	height: 80px;
}

.logo__img {
	height: 100%;
}

.header__icon {
	font-size: 42px;
	color: #DD2A24;
}

.items__count {
	position: absolute;
	top: -5px;
	right: -12px;
	width: 22px;
	height: 22px;
	font-size: 0.875rem;
	line-height: 0.5;
	color: #fff;
	background-color: #4c3e13;
	border-radius: 50%;
}

/*--------------------------------------------------------------
# Home Screen 
--------------------------------------------------------------*/
.hero__bg {
	width: 100%;
	height: 50vh;
	overflow: hidden;
	min-height: 450px;
}

.hero__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right center;
}

/*--------------------------------------------------------------
# Order Popcorn 
--------------------------------------------------------------*/
.popcorn__block {
	text-align: center;
	border: 3px solid #DD2A24;
	border-radius: 18px; 
	width: 260px;
	margin: 0 1.25rem;
	overflow: hidden;
} 

.pc__block--content {
	padding: 1rem 1.25rem 1.25rem;
}

.popcorn__img {
	max-width: 150px;
}

.popcorn__price {
	font-size: 1.125rem;
	color: #DD2A24;
	padding: 0.375rem 0.625rem;
	border: 3px solid #DD2A24;
	border-radius: 10px;
}

.popcorn__count {
	color: #fff;
	padding: 0.5rem 1.5rem;
	background-color: #DD2A24;
}

.popcorn__qty {
	font-size: 1.5rem;
}

.count__icons {
	font-size: 1.125rem;
	cursor: pointer;
}

/*--------------------------------------------------------------
# Promotions
--------------------------------------------------------------*/
.promotions {
	padding: 1.875rem 0;
	background: #efeef0;
}

/*--------------------------------------------------------------
# Snacks Slider
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Thank You
--------------------------------------------------------------*/
.thankyou__bg {
	background-image: url('../img/thankyou_background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.thankyou__content {
	margin-left: auto;
	margin-right: 5%;
	max-width: 480px;
}

.thankyou__logo .logo__img {
	max-width: 250px;
}

.ty__title--one {
	font-size: 2rem;
	line-height: 1.25;
	color: #4c3e13;
}

.hr {
	height: 2px;
  background: #e76a66;
  border: none;
  border-radius: 4px;
	margin: 1.5rem auto 2rem 0;
}

.ty__title--two {
	font-size: 1.75rem;
}

.stars {
	font-size: 4rem;
	color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	background-color: #DD2A24;
	padding: 0.875rem;
}

.order__id {
	font-size: 1.125rem;
	font-weight: bold;
	color: #fff;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (min-width: 1367px) {
	/*--------------------------------------------------------------
	# Home Screen 
	--------------------------------------------------------------*/
	.hero__bg {
		min-height: 500px;
	}

}
@media only screen and (min-width: 1440px) {
	/*--------------------------------------------------------------
	# Order Popcorn 
	--------------------------------------------------------------*/
	.popcorn__block {
		width: 300px;
	}
	.popcorn__img {
		max-width: unset;
	}
}