/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.screen__wrapper {
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}


/* Buttons */
.btn__main {
  display: flex;
	align-items: center;
	height: 46px;
	font-size: 1.25rem;
	color: #DB6C10;
	padding: 0 0.875rem;
	background: #FCCD3F;
  border-radius: 14px;
	border: 3px solid white;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
	padding: 0 1.5rem;
	background: #FCCD3F;
	height: 80px;
}

.logo__img {
	height: 100%;
}

.order__id {
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3 {
	color: #DB6C10;
	letter-spacing: .5px;
	margin: 0;
}

.title--one {
	font-size: 2.125rem;
}

.title--two {
	font-size: 1.125rem;
}


/*--------------------------------------------------------------
# Sections & Layout 
--------------------------------------------------------------*/
.content {
	flex: 1;
}

.section__header {
	text-align: center;
}

.section__title {
	margin: 1.75rem 0;
}

/*--------------------------------------------------------------
# Order Popcorn 
--------------------------------------------------------------*/
.popcorn__block {
	text-align: center;
	border: 3px solid #F27405;
	border-radius: 18px; 
	max-width: 240px;
	margin: 0 auto;
} 

.pc__block--content {
	padding: 1rem 2rem;
}

.popcorn__img {
	max-width: 160px;
}

.popcorn__price {
	display: inline-block;
	font-size: 1.125rem;
	color: #DB6C10;
	padding: 0.375rem 0.625rem;
	border: 3px solid #F27405;
	border-radius: 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 0 1.5rem;
	background-color: #F27405;
	height: 72px;
}

.home__icon {
	max-width: 50px;
}

.items__selected {
	font-size: 1.25rem;
	color: #DB6C10; 
	background: #FCCD3F;
	border-radius: 14px;
	border: 3px solid white;
	overflow: hidden;
}

.selected__text {
	padding: 0 0.875rem;
}

.selected__count {
	height: 100%;
	line-height: 46px;
	background: #fff;
	padding: 0 1.125rem;
}