/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.screen__wrapper {
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}


/* Buttons */
.btn__main {
  display: flex;
	align-items: center;
	height: 46px;
	font-size: 1.25rem;
	color: #DB6C10;
	padding: 0 0.875rem;
	background: #FCCD3F;
  border-radius: 14px;
	border: 3px solid white;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
	background: #FCCD3F;
	height: 80px;
}

.logo__img {
	height: 100%;
}

.order__id {
	font-size: 1.25rem;
	font-weight: bold;
	color: #fff;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3 {
	color: #DB6C10;
	letter-spacing: .5px;
	margin: 0;
}

.title--one {
	font-size: 2.125rem;
}

.title--two {
	font-size: 1.125rem;
}


/*--------------------------------------------------------------
# Sections & Layout 
--------------------------------------------------------------*/
.content {
	flex: 1;
}

.section__header {
	text-align: center;
}

.section__title {
	margin: 1.75rem 0;
}

/*--------------------------------------------------------------
# Order Popcorn 
--------------------------------------------------------------*/
.popcorn__block {
	text-align: center;
	border: 3px solid #F27405;
	border-radius: 18px; 
	width: 260px;
	margin: 0 1.25rem;
	overflow: hidden;
} 

.pc__block--content {
	padding: 1rem 1.25rem 1.25rem;
}

.popcorn__img {
	max-width: 160px;
}

.popcorn__price {
	display: inline-block;
	font-size: 1.125rem;
	color: #DB6C10;
	padding: 0.375rem 0.625rem;
	border: 3px solid #F27405;
	border-radius: 10px;
}

.popcorn__count {
	color: #fff;
	padding: 0.5rem 1.5rem;
	background-color: #F27405;
}

.popcorn__qty {
	font-size: 1.5rem;
}

.count__icons {
	font-size: 1.125rem;
	cursor: pointer;
}

/*--------------------------------------------------------------
# Promotions
--------------------------------------------------------------*/
.promotions {
	padding: 1.875rem 0;
	background: #E6E6E6;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	background-color: #F27405;
	height: 72px;
}

.home__icon {
	max-width: 50px;
}

.items__selected {
	font-size: 1.25rem;
	color: #DB6C10; 
	background: #FCCD3F;
	border-radius: 14px;
	border: 3px solid white;
	height: 46px;
	overflow: hidden;
}

.selected__text {
	padding: 0 0.875rem;
}

.selected__count {
	width: 50px;
	height: 100%;
	text-align: center;
	line-height: 43px;
	background: #fff;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {
	/*--------------------------------------------------------------
	# Order Popcorn 
	--------------------------------------------------------------*/
	.popcorn__block {
		width: 300px;
	}
	.popcorn__img {
		max-width: unset;
	}
}